/* 全部 */
:root {
    --right-top: 5px;
    --right-bottom: 5px;
}
@media (prefers-color-scheme: light) {
    :root {
        --main-color: paleturquoise;
        --main-text: rgba(0,0,0,0.87);
        --main-bg: white;
        --bg-anim1: 0.15;
        --bg-anim2: 0.2;
        --bg-anim3: show1 4s;
        --color-1: #455a64;
        --color-2: rgb(222, 245, 245);
        --color-3: white;
        --color-4: 1px solid rgba(0,0,0,0.12);
        --color-5: rgb(143, 233, 233);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #1d8b8b;
        --main-text: rgba(255,255,255,0.87);
        --main-bg: rgb(10, 10, 10);
        --bg-anim1: 0.35;
        --bg-anim2: 0.4;
        --bg-anim3: show2 4s;
        --color-1: rgba(255,255,255,0.87);
        --color-2: rgb(119, 169, 169);
        --color-3: grey;
        --color-4: 1px solid rgba(255,255,255,0.12);
        --color-5: rgb(103, 201, 201);
    }
    .blue-grey-text.text-darken-2.not-select {
        color: white !important;
    }
    li a.blue-grey-text.text-darken-4.translation-text.not-select {
        color: white !important;
    }
}
@media screen, projection {
    .tap-target-wave::before, .tap-target-wave::after {
        background-color: var(--main-bg) !important;
    }
}
@media screen, projection {
    html {
        color: var(--main-text) !important;
    }
}
.obi {
    margin-top:10px;
    overflow:hidden;
}

.obi .obi2 {
    margin:0;
    font-size:1.5em;         /*文字サイズ*/
    animation: flowing 10s linear infinite;    /*アニメーション*/
    transform:translateX(100%);                /*最初の位置*/
    color:#fff;              /*文字の色*/
}
/*
div.obi2 {
    position: relative;
    height: 75px;
}
div.obi2 p {
    position: absolute;
    top: 0px;
    right: 0px;
}
*/
.count {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.count2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; /*上下左右中央に*/
    width: 100vw; /*widthの指定は必須*/
    height: 100px; /*heightの指定は必須*/
    padding-left: 20vw;
    padding-right: 20vw;
}
.countbg {
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 10px;
    border: 4px solid var(--color-5);
}
.countbg p {
    width: auto;
}

@keyframes flowing {
    100% {
        transform:translateX(-100%);    /*終了の位置*/
    }
}
input {
    color: var(--main-text);
}
textarea {
    color: var(--main-text);
}
body {
    background-color: var(--main-bg) !important;
}
nav.nav-extended {
    background-color: var(--main-color);
}
nav#nav-extended-height {
    background-color: var(--main-color);
}
ul.sidenav {
    background-color: var(--main-color);
}
li.indicator {
    background-color: #455a64 !important;
}
div.collapsible-body {
    border: 0px;
    background-color: var(--color-3);
}
div.QA {
    background-color: var(--color-2);
    margin: 20px;
    border-radius: 20px;
}
div.QA p {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}
div.QA a {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 20px;
}
div.QA a {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 20px;
}
div.QA2 {
    padding: 10px;
}
div.info {
    padding-top: 10px;
}
div.info2 {
    padding-bottom: 20px;
    background-color: var(--color-3);
    border-radius: 0px 0px 20px 20px;
}
div.collapsible-body p {
    margin: 0px;
    padding: 0px;
}
.not-select {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.not-display {
    display: none;
}
.collapsible-header {
    background-color: var(--color-3) !important;
    padding-bottom: 0px !important;
}
tr {
    border-bottom: var(--color-4) !important;
}
div.info div.row {
    padding-right: 10px;
    padding-left: 10px;
}
.marker {
    background: -webkit-linear-gradient(left, rgb(255,250,153,0.5) 50%, transparent 50%);
    background: -moz-linear-gradient(left, rgb(255,250,153,0.5) 50%, transparent 50%);
    background: linear-gradient(left, rgb(255,250,153,0.5) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% .8em; 
    background-position: 100% .5em;
    transition: 2s;
}
.marker.is-active{
    background-position: 0% .5em;
}
#home-anim {
    position:fixed;
    z-index:-100;
}
#home {
    clip-path: url(#cache);
}

#red {
    fill: none;
    opacity: var(--bg-anim1);
    stroke: #CE1B5F;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: var(--bg-anim3);
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

#blue {
    fill: none;
    opacity: var(--bg-anim1);
    stroke: #06A1C4;
    stroke-width: 12;
    stroke-miterlimit:10;
    animation: var(--bg-anim3);
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#light-blue {
    fill: none;
    opacity: var(--bg-anim1);
    stroke: #06A1C4;
    stroke-width: 6;
    stroke-miterlimit:10;
    stroke-dasharray: 200;
    stroke-dashoffset: 800;
    animation: draw 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show1 {
    0% {
        opacity: 0.15;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.15;
    }
}
@keyframes show2 {
    0% {
        opacity: 0.35;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.35;
    }
}
p.title {
    z-index: 0 !important;
    background-color: var(--main-color);
    position: relative;
    color: var(--color-1);
}
footer {
    width: 100%;
    background-color: var(--main-color) !important;
}
/* PC用CSS */
@media print, screen and (min-width: 992px) {
    a.brand-logo {
        padding-left: 20px !important;
    }
    p.title {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 5px !important;
        padding-left: 20px;
    }
    div.title-div {
        min-height: 200px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0.5%;
    }
    /*
    #home-anim {
        height: 100vw;
    }
    */
    div.left-title {
        float: left;
        width: 50%;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    div.right-title {
        float: right;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: var(--right-top);
        padding-bottom: var(--right-bottom);
    }
    div.title-sub {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p:not(.not-style):not(.title) {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    li:not(.indicator):not(.info) {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a:not(.not-style) {
        font-size: 20px;
    }
    img.game-img {
        width: 40%;
        height: 40%;
    }
    img.game-img2 {
        width: 40%;
        height: 40%;
    }
    .btn-position {
        position:absolute !important;
        bottom: 0;
        right: 0;
    }
    div.div-menu {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 10;
    }
    /*
    div.tap-target-wave {
        left: 375px !important;
    }
    */
    div.tap-target {
        background-color: var(--main-color);
    }
    div.title {
        text-align: center;
    }
    div.title-color {
        background-color: var(--main-color);
        display: inline-block; 
        padding: 20px;
        border-radius: 30px;
        border: 4px solid var(--color-5);
    }
    div.title-color li {
        text-align: left;
    }
    h4:not(.not-style) {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
    .speace {
        display: inline-block;
        width: 20%;
    }
    div.main-speace {
        display: inline-block;
        width: 60%;
        border: 4px solid var(--main-color);
        border-radius: 30px;
    }
    .li2:not(.brand-logo) {
        display: none !important;
    }
    div#space {
        background-color: var(--main-color);
        position: relative;
    }
    nav#nav-extended-height {
        height:122px;
    }
}

/* スマホ用CSS */
@media screen and (max-width: 992px) {
    p.title {
        font-size: 200%;
        margin-top: 10px;
        margin-bottom: 5px !important;
        padding-left: 10px;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    div.title-div {
        min-height: 100px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /*
    #home-anim {
        height: 100%;
    }
    div.left-title {
        float: left;
        width: 50%;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    div.right-title {
        float: right;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: var(--right-top);
        padding-bottom: var(--right-bottom);
    }
        */
    div.title-sub {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p:not(.not-style) {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    p.title-p {
        font-size: 100%;
    }
    a:not(.not-style) {
        font-size: 15px;
    }
    img.game-img {
        width: 60%;
        height: 60%;
    }
    img.game-img2 {
        width: 60%;
        height: 60%;
    }
    div.div-menu {
        display: none;
    }
    div.title {
        text-align: center;
    }
    div.title-color {
        background-color: var(--main-color);
        display: inline-block; 
        padding: 20px;
        border-radius: 30px;
        border: 4px solid var(--color-5);
    }
    div.title-color li {
        text-align: left;
    }
    h4:not(.not-style) {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
    .speace {
        display: inline-block;
        width: 10%;
    }
    div.main-speace {
        display: inline-block;
        width: 80%;
        border: 4px solid var(--main-color);border-radius: 30px;
    }
    @media screen, projection {
        nav#nav-extended-height {
            height:104px;
        }
        @media only screen and (min-width: 601px) {
            nav#nav-extended-height {
                height:112px;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    @media screen and (min-width: 820px) {
        div.left-title {
            float: left;
            width: 50%;
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        div.right-title {
            float: right;
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: var(--right-top);
            padding-bottom: var(--right-bottom);
        }
        .li2:not(.brand-logo) {
            display: none !important;
        }
    }
}
@media screen and (max-width: 819px) {
    div.left-title {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    div.right-title {
        padding-bottom: 5px;
        text-align: center;
    }
    .li1:not(.brand-logo) {
        display: none !important;
    }
    li.li2 div {
        padding-left: 20px;
    }
}
@media screen and (min-width: 884px) {
    .li2.brand-logo {
        display: none !important;
    }
}
@media screen and (max-width: 883px) {
    .li1.brand-logo {
        display: none !important;
    }
}
@media screen and (max-width: 563px) {
    .li2.brand-logo {
        font-size: 1.1rem !important;
    }
}